#delete_modal.modal
  #confirm_delete
    %header
      %h1.title
      = link_to "Close", "#", class: "close"
    .actions
      = link_to "Yes", "#", class: "button confirm"
      = link_to "No", "#", class: "button close"
