%h1 Utilities
%nav
  %ul
    %li{ class: active_if("departments") }= link_to "Departments", departments_path
    %li{ class: active_if("job_titles") }= link_to "Job Titles", job_titles_path
    %li{ class: active_if("categories") }= link_to "Categories", categories_path
