%tr{ data: { id: department.id, type: "department", metadata: department.department_name } }
  %td
    %strong= department.department_name
  %td
    = link_to "Edit", "#edit_modal", class: "icon_button edit", data: { toggle: "modal" }
    = link_to "Delete", department, class: "icon_button remove"
