%tr{ data: { id: category.id, type: "category", metadata: category.category_name } }
  %td
    %strong= category.category_name
  %td
    = link_to "Edit", "#edit_modal", class: "icon_button edit", data: { toggle: "modal" }
    = link_to "Delete", category, class: "icon_button remove"
